logs
*.log
node_modules/
dist/
*.local
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?

.env
*.env
!.env.example
appsettings.*.local.json
secrets.json

client/dist/
server/bin/
server/obj/